.dark-section {
  background: #46567C;
  padding: 8vh 0 6vh 0;
}

.dark-section h2 {
  color: #EF837D;
}

.dark-section p {
  color: #fff;
}

.light-section {
  padding: 8vh 0 6vh 0;
}

.light-section h2 {
  color: #46567C;
}


h2 {
  font-size: 40pt;
}

p {
  font-size: 18pt;
}


#text {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.headerTextBox {
  text-align: center;
  border-top: 1px solid #EF837D;
  border-bottom: 1px solid #EF837D;
  padding: 6vh 2vh;
  margin-top: 6vh;
}

.contactButtons {
  text-align: center;
}


h1 {
  color: #EF837D;
  vertical-align: middle;
  margin: 0;
  font-size: 70pt;
  font-weight: 500;
}

.ContactBtn {
  margin: 1vw;
  border-radius: 0;
}

.ContactBtn:hover {
  color: #46567C;
}

.Navbar {
  background: #46567C;
  text-align: left;
  position: fixed;
  top: 0px;
  width: 100%;
}

.navBtn {
  margin: 1vw;
  border-radius: 0;
  border-color: #C1C0C0;
  color: #C1C0C0;
}

.navBtn:hover {
  color: #46567C;
  background: #C1C0C0;
}


@media only screen and (max-width: 600px) {
  #text {
    width: 100%;
  }
}
